<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="USALauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <USALauncher.Properties.Settings>
            <setting name="armaPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="profile" serializeAs="String">
                <value />
            </setting>
            <setting name="noSplash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="windowed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maxVram" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="customParams" serializeAs="String">
                <value />
            </setting>
            <setting name="profilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="noLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableHT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skipIntro" serializeAs="String">
                <value>False</value>
            </setting>
        </USALauncher.Properties.Settings>
    </userSettings>
</configuration>